body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.buttondiv {
    width: max-content;
    margin: 0 auto;
}

.playagain {
    width: max-content;
    margin: 0 auto;
}

.results {
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}

button > * {
    pointer-events: none;
}

button:hover {
    background-color: pink;
}
    
img {
    width: 50%;
}